h1{
	color:#000;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
}
head,body{
  display:  grid;
  height: 100%;
  background:rgba(0,0,0,.1);
  display: grid;
  height: 100%;
  width: 100%;
}
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #fefefe;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.3);
  border-radius: 10px;

}
.login-form{
  color:#000;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  margin-top: 40px;
  margin-left: 30px;
  padding-bottom:10px;
}
.surname-form{
  color:#000;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  margin-left: 30px;
}
.password-form{
  color:#000;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  margin-left: 30px;
  margin-top: 10px;

}
.input-form input {
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  font-size: 25px;
  outline: none;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin-left: 30px;
  padding-right: 120px;
  box-shadow: inset 1px 1px 3px -1px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;

}
.input-form input:focus{
  border:1px solid #56b4ef;
  -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
  box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6)
}
.button {
	margin-top: 10px; 
	margin-left: 100px;
	margin-bottom:10px;
  position: relative;
  background-color: #abdcf4;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 10px;
  width: 300px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;

}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
.button{
 outline: none;
}
.signin{
	margin-top: 10px;
	background-color:#f0f5f7;
	padding-bottom: 20px;
}
input[type="checkbox"]{
	display: none;
}
label {
  color: #000;
  cursor: default;
  font-weight: normal;
  line-height: 30px;
  padding: 10px 0;
  vertical-align: middle;
}
 
label:before {
  content: " ";
  color: #000;
  display: inline-block;
  font: 20px/30px Arial;
  margin-right: 15px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 30px;
  height: 30px;
  background: #FFF;
  border: 1px solid #e3e3e3;
  border-image: initial;
  vertical-align: middle;
}
input:checked + label:before {
  content: "x";
}
input:disabled + label:before {
  background: #eee;
  color: #aaa;
}
